<footer class="bg-gray-100 py-5">
  <div class="container">
    <div class="caption">
      <h2 class="capitalize mb-2 text-xl font-medium">get the freshCart app</h2>
      <p class="text-gray-500/70 text-sm font-normal">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>
    </div>

    <div class="share px-5 flex justify-between gap-3 items-center mt-3 mb-5">
      <input
        type="text "
        class="form-control grow bg-white py-[.4375rem] px-[1.25rem] rounded-lg"
        placeholder="Email"
      />
      <button type="button" class="btn-main px-5 ms-3 hover:bg-green-700">
        Share App Link
      </button>
    </div>

    <hr />

    <div class="pay flex justify-between gap-2 px-5 py-3 my-5">
      <div class="flex justify-start items-center grow">
        <h3 class="h6 me-3 text-sm font-normal">Payment partners</h3>

        <img src="/images/amazon-pay.png" class="w-12 me-2" alt="amazon-pay" />
        <img
          src="/images/American-Express-Color.png"
          class="w-12 me-2"
          alt=""
        />
        <img src="/images/paypal.png" class="w-12 me-2" alt="paypal" />
        <img src="/images/mastercard.webp" class="w-12 me-2" alt="mastercard" />
      </div>

      <div class="flex justify-end items-center grow gap-2">
        <h3 class="h6 m-0 text-sm font-normal">
          Get Deliveries with FreshCart
        </h3>
        <img src="/images/get-google-play.png" width="75px" alt="google-play" />
        <img src="/images/get-apple-store.png" width="75px" alt="apple-store" />
      </div>
    </div>

    <hr />
  </div>
</footer>
